// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Codenames-primary: mat.define-palette(mat.$grey-palette, 900, 900);
$Codenames-accent: mat.define-palette(mat.$green-palette, 700, 700);

// The warn palette is optional (defaults to red).
$Codenames-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Codenames-theme: mat.define-dark-theme(
  (
    color: (
      primary: $Codenames-primary,
      accent: $Codenames-accent,
      warn: $Codenames-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Codenames-theme);

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap");

.cdk-overlay-container {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #363636;
  letter-spacing: 0.1px;
  font-family: "Bebas Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
